// header styles

html {
    scroll-behavior: smooth;
  }

// Frontpage styles
#header-home {
    background: transparent!important;
    height: 6vh;
    #header-home-nav {
        height: 100%;
        display: flex;
        align-items: center;
        nav {
            width: 100%;
            background-color: transparent!important;
            padding: 0px;
            display: flex;
            justify-content: space-between;
            .adjust-display {
                button {
                    border: none;
                    background-color: white;
                    width: 50px;
                    height: 50px;
                    svg {
                        color: $purple;
                        transform: scale(2.0);
                    }
                }
                button:nth-child(1) {
                    margin-right: 10px;
                    svg {
                        transform: scale(2.2);
                    }
                }
            }
            .menu-right {
                display: flex;
                align-items: center;
                .language-selection {
                    z-index: 1;
                    select {
                        border: 2px solid white;
                        text-align: center;
                        padding: 4px 20px;
                        border-radius: 20px;
                        color: $purple;
                        font-family: $font-nunito;
                        font-weight: 700;
                        margin-right: 5px;
                        margin-bottom: 0px;
                    }
                }
                #login-input {
                    z-index: 1;
                    border: 2px solid white;
                    text-align: center;
                    padding: 4px 20px;
                    border-radius: 20px;
                    a {
                        color: white;
                        font-family: $font-nunito;
                        font-weight: 700;
                    }
                    a.mobile {
                        display: none;
                    }
                }
            }
        }
    }
}

//App works only with a mobile phone
@media (min-width: 600px) {
    #body-app {
        display: none;
    }
}

@media (max-width: 600px) {
    #header-app {
        overflow: hidden;
        .header-one {
            height: 36vh;
            padding: 30px 0px 0px 30px;
            position: relative;
            z-index: -1;
            background-position-y: 48%;
            background-repeat: no-repeat;
            background-size: cover;
            .logo {
                img {
                    width: 120px;
                }
            }
            .editor {
                font-family: $font-pacifico;
                font-size: 45px;
                position: absolute;
                right: 9%;
                bottom: 0%;
                margin-bottom: 6vh;
                line-height: 0.8;
            }
        }
    }
}

@media (max-width: 450px) {
    #header-home {
        #header-home-nav {
            margin: 5px 0px;
            nav {
                justify-content: flex-end;
                .adjust-display {
                    display: none;
                }
                .menu-right {
                    .language-selection {
                        select {
                            border: 2px solid $purple!important;
                            background-color: white;
                        }
                    }
                    #login-input {
                        border: 2px solid $purple!important;
                        right: 0%;
                        padding: 0px;
                        background-color: $purple;
                        width: 36px;
                        height: 36px;
                        position: relative;
                        a {
                            color: white!important;
                            transform: scale(1.5);
                            position: absolute;
                            left: 50%;
                            margin-left: -7px;
                            top: 50%;
                            margin-top: -14px;
                        }
                        a.mobile { 
                            display: block;
                        }
                        a.desktop { 
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
