
// application content styles
#maincontent {
    margin-top: 0px;
    margin-bottom: 90px;
    padding: 0px!important;
    overflow: hidden;
    z-index: 0;
    position: relative;
    border-radius: 50px 0px 0px 0px;
    margin-top: -6vh;
    .search {
        @include display (flex, center, center);
        position: absolute;
        width: 60vw;
        right: 0%;
        height: 50px;
        top: 10%;
        box-shadow: -1px 1px 15px 4px hsla(0,0%,67.1%,.4);
        border-radius: 20px 0px 0px 20px;
        transform: translateX(120%);
        i {
            font-size: 20px;
            margin-right: 10px;
            margin-left: 10px;
        }
        input {
            border: none;
            width: 70%;
        }
    }
    .recipe-filters {
        display: flex;
        z-index: -1;
        margin-top: 50px;
        margin-left: 10vh;
        .recipe-filter {
            @include display (flex, center, center);
            width: 50px;
            height: 50px;
            margin-right: 5px;
            border-radius: 20px 20px 0px 0px;
            overflow: hidden;
            box-shadow: -1px -1px 11px 1px hsla(0,0%,67.1%,.4);
            border: none;
            i {
                font-size: 20px;
            }
        }
        #delete-all-shoplist {
            transform: translateY(60px);
        }
    }
    #pagecontent {
        border-radius: 30px 0px 0px 30px;
        position: relative;
        z-index: initial;
        min-height: 100px;
        box-shadow: -1px 1px 15px 4px rgba(171,171,171,0.4);
        padding: 20px 0px 20px 0;
        margin: 0px 0vw 20px 0vw;
        #accordion {
            height: 100%;
            .card {
                border: none;
                margin-bottom: 2px;
                position: relative;
                .card-header {
                    height: 30px!important;
                    padding: 8px 0px 0px 0px;
                    border: none;
                    border-bottom: 1px solid white;
                    position: relative;
                    h5 {
                        padding-left: 1rem;
                        button {
                            font-family: $font-baloo;
                            font-weight: 700;
                        }
                    }
                    i {
                        position: absolute;
                        font-size: 15px;
                        right: 5%;
                        z-index: 1;
                        top: 48%;
                    }
                }
                .card-body {
                    padding: 1.25rem 0 0 0;
                    .recipe-wrapper {
                        &__ingredients {
                            ul {
                                padding-left: 0;
                                li {
                                    list-style: none;
                                    height: 2rem;
                                    form {
                                        display: flex;
                                        flex-direction: row;
                                        height: 2rem;
                                        * {
                                            border: none;
                                            background-color: transparent;
                                        }
                                        .aines-row {
                                            display: flex;
                                            flex-direction: row;
                                            div {
                                                display: flex;
                                                flex-direction: row;
                                                input[name="listamount"] {
                                                    width: 3rem;
                                                    text-align: right;
                                                    font-family: $font-baloo;
                                                    height: 2rem;
                                                    padding-top: 10px;
                                                    pointer-events: none;
                                                }
                                                input[name="listunit"] {
                                                    width: 3rem;
                                                    text-align: left;
                                                    font-family: $font-baloo;
                                                    height: 2rem;
                                                    padding-top: 10px;
                                                    pointer-events: none;
                                                }
                                            }
                                            input[name="listingredient"] {
                                                min-width: 58vw;
                                                font-family: $font-baloo;
                                                height: 2rem;
                                                padding-top: 10px;
                                                pointer-events: none;
                                            }
                                        }
                                        button {
                                            margin: 0 0 0 auto;
                                            background-color: transparent;
                                            padding-right: 1rem;
                                            padding-bottom: 8px;
                                        }
                                    }
                                }
                                li:nth-child(odd) {
                                    background-color: rgba(241, 83, 181, 0.2);
                                }
                            }
                        }
                        &__notes {
                            ul {
                                padding: 0 1rem;
                                li {
                                    list-style: none;
                                    font-family: $font-baloo;
                                }
                            }
                        }
                    }
                }
            }
        }
        .recipe-area {
            width: 80vw;
            min-height: 100px;
            .shoplist {
                padding-left: 17px;
                padding-top: 5px;
                .shoplist-unit {
                    position: relative;
                    display: flex;
                    height: 30px;
                    align-items: center;
                    width: 100%;
                    overflow: hidden;
                    p {
                        font-family: $font-baloo;
                        font-weight: 700;
                        margin-bottom: 0px;
                        padding-top: 9px;
                    }
                    p:nth-child(1) {
                        width: 180px;
                    }
                    p:nth-child(2) {
                        &:after {
                            content: "\00a0";
                        }
                    }
                    button {
                            position: absolute;
                            right: 0%;
                            border: none;
                            background-color: transparent;
                            top: 5%;
                        i {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
        #searchresult {
            #datafetch {
                width: 84vw;
                .card {
                    border: none;
                    margin-bottom: 2px;
                    position: relative;
                    .card-header {
                        height: 30px!important;
                        background-color: white;
                        padding: 8px 0px 0px 0px;
                        border: none;
                        border-bottom: 1px solid white;
                        position: relative;
                        h5 {
                            button {
                                color: $purple;
                                font-family: $font-baloo;
                                font-weight: 700;
                            }
                        }
                        i {
                            position: absolute;
                            color: $purple;
                            font-size: 15px;
                            right: 5%;
                            z-index: 1;
                            top: 48%;
                        }
                    }
                    .card-body {
                        padding: 10px 0px 0px 0px;
                        nav {
                            .nav-tabs {
                                border-bottom: 1px solid $purple;
                            }
                            .nav-link {
                                color: $purple;
                            }
                            .active {
                                background-color: $purple;
                                color: white;
                                border-color: $purple;
                            }
                        }
                        .tab-content {
                            div {
                                ul:nth-child(1) {
                                    padding: 10px 0px 0px 5px;
                                    list-style: none;
                                    .aines-listing {
                                        height: 30px;
                                        padding-left: 5px;
                                        position: relative;
                                        .aines-row {
                                            display: flex;
                                            max-height: 30px!important;
                                            position: relative;
                                            div {
                                                @include display (flex, center, center);
                                                width: 80px;
                                                input:nth-child(1) {
                                                    height: 30px;
                                                    margin-bottom: 0px;
                                                    width: 45px;
                                                    text-align: right;
                                                    border: none;
                                                    background: transparent;
                                                    pointer-events: none;
                                                    margin-right: 3px;
                                                    &:after {
                                                        content: "\00a0";
                                                    }
                                                }
                                                input:nth-child(2) {
                                                    height: 30px;
                                                    margin-bottom: 0px;
                                                    width: 35px;
                                                    border: none;
                                                    background: transparent;
                                                    pointer-events: none;
                                                }
                                            }
                                            input {
                                                height: 30px;
                                                margin-bottom: 0px;
                                                width: 100%;
                                                border: none;
                                                background: transparent;
                                                pointer-events: none;
                                            }
                                        }
                                        button {
                                            @include display (flex, center, center);
                                            position: absolute;
                                            right: 6%;
                                            top: 50%;
                                            margin-top: -10px;
                                            height: 20px;
                                            background-color: transparent;
                                            border: none;
                                            i {
                                                color:$purple;
                                                font-size: 17px;
                                            }
                                            svg {
                                                color:$purple;
                                                transform: scale(1.2);
                                            }
                                        }
                                    }
                                    .aines-listing:nth-child(odd) {
                                        background-color: $light-purple;
                                    }
                                    .ohje-listing {
                                        height: 100%;
                                    }
                                }
                                ul {
                                    width: 47vh;
                                }
                            }
                        }
                    }
                }
                h3 {
                    @include fontstyle (16px, 700, $purple, $font-baloo);
                    padding: .375rem .75rem;
                    height: 30px!important;
                }
            }
        }
    }
}





